/*Page-specific style information*/
/*The downloading section*/
body {
  background: #F0F0F0;
}
div.downloading {
  background: #F0F0F0;
}
/*
*This used to be specific to downloading, but it makes more sense
*  to have it be global to all tables.
*/
table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  border-style: none;
}     
/*Visual clue on the table head: we are the table head*/
table>thead {
  background: #AAAAFF;
}
th {
  /*We need only specify the border color; the rest will be specified
  * in the next rule (affects all tds, not just those in thead
  */
  border-color: black;
  border-width: 1px;
  /*
  border-style: none;
  border-bottom-style: solid;
  */
  border-style: solid;
}
table td {
  border-color: grey;
  border-style: solid;
  border-top-style: none;   /*Make sure we don't override the above line*/
  border-width: 1px;
  margin: 0px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.1em;
  padding-bottom: 0em;
}

/*Our different row/column types and their visual cue colors
*Removed the table/td requirements so that we could set column colors.
*/
.stableDevel {
  background: #FFFF55;
}
.stable {
  background: #55FF55;
}
.devel {
  background: #FF5555;
}
/*For fun, we'll mix from stable to devel, to show progression visually*/
.alpha {
  background: #DD7755;
}
.beta {
  background: #AAAA55;
}
.rc {
  background: #77DD55;
}

/*-----------------------------------------------------------------*/
/*The releases section*/
div.releases {
  background: #F0F0F0;
}
table.releases td {
  border-style: hidden;
  padding-left: 0.5em;
  padding-right: 0.3em;
}
/*No borders in the releases section.*/
table.releases th {
  border-style: hidden;
}

/*-----------------------------------------------------------------*/
/*The dependencies section*/
div.deps {
  background: #F0F0F0;
}
/*nodep class signifies the distribution is not dependent on that package*/
table.deps td.nodep {
  background: #F0F0F0;
}
/*Dependency column.  Used only in the dependencies matrix*/
/*make sure our table cells are transparent.*/
table.deps {
  background: #AAAAFF;
}
table.deps td {
  background: transparent;
}
table.deps tr {
  background: transparent;
}
.dep {
  background: #5555FF;
}
/*Special color for optional dependencies*/
table.deps td.optionaldep {
  background: #7777FF;
}
span.optionaldep {
  background: #7777FF;
}
