* { margin: 0; padding: 0; outline: 0 }

body {
	background-color: #f3ebe0;
}


#wrap {
	position: relative;
	width: 800px;
	margin: 10px auto 35px auto;
	text-align: left;
}

#content-wrap {
	position: relative;
	clear: both;
	float: left;
	padding: 25px 0;
	background: #f0f0f0;
	border-radius: 15px;
}

#header {
	position: relative;
	height: 150px;
	color: #fff;
	padding: 0;
	margin: 0;
        border: 10px solid #317cb1;
	border-radius: 15px 15px 0px 0px;
	background-color: #317cb1;
}

#header h1#logo-text span {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 72px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	letter-spacing: -3px;
	text-decoration: none;
	color: #fff;

	/* change the values of top and left to adjust the position of the logo*/
	top: 25px; left: 55px;
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 18px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	color: #D6EBAB;

	/* change the values of top and left to adjust the position of the slogan*/
	top: 100px; left: 135px;
}

#header img#logo {
	background-color: transparent;
        border: 0px;
	padding-top: 15px;
}

/* Navigation */
#nav {
	clear: both;
	padding: 0;
	margin: 0;
	height: 40px;
	background-color: #317cb1;

        border: 0px solid #317cb1;
	border-radius: 0px 0px 15px 15px;
        border-top: 1px solid #D6EBAB;
}
#nav ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 5px 5px 0 20px;
	height: 30px;
}
#nav ul li {
	display: inline;
	margin: 0; padding: 0;
}
#nav ul li a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 14px;
	color: #fff;
	font: bold 16px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
	text-decoration: none;
        border: 5px solid transparent;
        border-radius: 5px;
}
#nav ul li a:hover {
    background-color: #0c4e80;
    border: 5px solid #0c4e80;
    border-radius: 5px;
}

#nav ul li a:active {
	color: #edf8c7;
}
#nav ul li#current a {
	color: #93DAFF;
}

/* Main Column */
#main {
	float: left;
	/* Leaving room for the sidebar */
	width: 57%;
	padding: 0; margin: 0 0 0 45px;
	display: inline;
}

#fullmain {
	float: left;
	/* No sidebar */
	width: 90%;
	padding: 0; margin: 0 45px 0 45px;
	display: inline;
}

.newsitem, .generalitem, .divider {
    padding: 30px 0px 0px 30px;
}

#newsend {
    margin-top: 30px;
}

h2 {
    font: bold 20pt 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
    color: #115280;
    padding-top: 20px;
    margin-left: -62px;
}


.divider h2 {
    margin-left: 0px;
    text-align: center;
}

#main p, #fullmain p {
    margin-top: 10px;
}

.generalitem .dt-like {
    font-weight: bold;
}

.generalitem .dd-like {
    margin-bottom: 0.5em;
}

#main ul, #fullmain ul {
	padding: 7px 20px;
}

#main ol, #fullmain ol {
	padding: 7px 20px;
}

#main li, #fullmain li {
	padding: 2px 10px;
}

#sidebar {
	float: right;
	width: 29%;
	padding: 0;
	margin: 0 45px 0 0;
	display: inline;
}
#sidebar h3 {
	color: #115280;
	font: normal 1.6em 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	text-transform: none;
	padding: 10px 0 2px 0;
	margin: 10px 0 0 10px;
}

/* sidebar menu */
#sidebar .sidemenu {
	margin: 5px 10px 8px 7px; padding: 0;
	text-decoration: none;
	border-top: 2px solid #D0E89F;
}
#sidebar .sidemenu li {
	list-style: none;
	margin: 0;
	padding: 7px 10px;
	border-bottom: 1px solid #DAEBA3;
}
* html body #sidebar .sidemenu li {
	height: 1%;
}
#sidebar .sidemenu li a {
	text-decoration: none;
	color: #684F3E;
}
#sidebar .sidemenu li a span {
	color: #A98D76;
	font-size: .9em;

	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: normal;
}
#sidebar .sidemenu li a:hover {
	color: #000;
	background: none;
}
#sidebar .sidemenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar .sidemenu ul li { border: none; }

/* search form */
#sidebar .searchform {
	background-color: transparent;
	border: none;
	margin: 0 0 0 5px;
	padding: 10px 0 10px 10px;
	width: 90%;
}
#sidebar .searchform p { margin: 0; padding: 0; }
#sidebar .searchform input.textbox {
	width: 66%;
	height: 18px;
	padding: 2px;
	vertical-align: top;
}
#sidebar .searchform input.button {
	width: 60px;
	height: 24px;
	padding: 2px 4px;
	vertical-align: top;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

.gnumeric-bullet {
    float: left;
    height: 52px;
    width: 52px;
    background: url(gnumeric52.png) no-repeat;
    margin-right: 10px;
    padding-top: 0px;
    line-height: normal;
}

.date {
    float: left;
    height: 52px;
    width: 52px;
    background: url(date.png) no-repeat;
    margin-right: 10px;
    padding-top: 0px;
    line-height: normal;
}

.date .month {
    display: block;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    padding-top: 4px;
    text-transform: uppercase;
}

.date .year {
    display: block;
    text-align: center;
    padding-top: 5px;
    color: #222;
    font-size: 18px;
    font-weight: bold;
}

div.error {
    width: 100%;
    background: #ff8080;
    margin-top: 12px;
    border-radius:15px;
    text-align: center;
}

div.error h1, div.error p {
    padding: 10px;
}
